@import "tailwindcss";

@theme {
  --color-vanilla: #f3eaca;
  --color-coffee: #644536;
  --color-terracotta: #b2675e;
  --color-powder: #b4cded;
  --color-thistle: #e7c8dd;
  --color-light-vanilla: #eee1b3;
  --color-mint: #b8e6b8;

  --font: "RobotoSlab", serif;

}

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@layer base {
  body {
    background-color: var(--color-vanilla);
    color: var(--color-coffee);
    font-family: var(--font);
  }

  *,
  ::before,
  ::after {
    border-radius: 0px;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-3px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(3px);
    }
  }

  .animate-shake {
    animation: shake 0.5s;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    position: absolute;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-coffee);
    border: 2px solid var(--color-vanilla);
    border-radius: 0;
  }
}
