@import "tailwindcss";


@theme {
  --color-vanilla: #f0e9ce;
  --color-coffee: #644536;
  --color-terracotta: #b2675e;
  --color-powder: #b4cded;
  --color-thistle: #e7c8dd;
  --color-light-vanilla: #eee1b3;
  --color-mint: #b8e6b8;

  --font: "RobotoSlab", serif;

} 

/* @theme {
  --color-vanilla: #f3eaca;
  --color-coffee: #644536;
  --color-terracotta: #b2675e;
  --color-powder: #b4cded;
  --color-thistle: #e7c8dd;
  --color-light-vanilla: #eee1b3;
  --color-mint: #b8e6b8;

  --font: "RobotoSlab", serif;

} */

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@layer base {
  body {
    background-color: var(--color-vanilla);
    color: var(--color-coffee);
    font-family: var(--font);
  }

  *,
  ::before,
  ::after {
    border-radius: 0px;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-3px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(3px);
    }
  }

  .animate-shake {
    animation: shake 0.5s;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    position: absolute;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-coffee);
    border: 2px solid var(--color-vanilla);
    border-radius: 0;
  }
}

/* Arrow Button Styles */
.swallow-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  display: inline-block;
}

.swallow-icon span {
  width: 1.5rem;
  height: 0.563rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swallow-icon span:before,
.swallow-icon span:after {
  content: "";
  width: 0.75rem;
  height: 0.125rem;
  background-color: currentColor;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease;
}

.swallow-icon span:before {
  right: 50%;
  border-radius: 2px 0 0 2px;
  transform-origin: 100% 100%;
  transform: rotate(40deg);
}

.swallow-icon span:after {
  left: 50%;
  border-radius: 0 2px 2px 0;
  transform-origin: 0 100%;
  transform: rotate(-40deg);
}

.swallow-icon:hover span:before {
  transform: rotate(50deg);
}

.swallow-icon:hover span:after {
  transform: rotate(-50deg);
}

.arrow-animating span:before {
  animation: arrow-click-before 0.15s ease;
}

.arrow-animating span:after {
  animation: arrow-click-after 0.15s ease;
}

@keyframes arrow-click-before {
  0%, 100% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(58deg);
  }
}

@keyframes arrow-click-after {
  0%, 100% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-58deg);
  }
}
